.alert {
  color: white;
  border-radius: 2px;
  position: absolute;
  top: 65px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1111;
  max-height: 4rem;
  height: fit-content;
  max-width: fit-content;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  .information {
    padding: 10px;
    height: inherit;
    // position: relative;
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
  }

  .close {
    color: inherit;
    cursor: pointer;
    margin-right: 10px;
    font-size: small;
  }

}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}