@font-face {
  font-family: 'Docktrin';
  src: url(../fonts/docktrin.ttf);
}

@font-face {
  font-family: 'BrotherTattoo';
  src: url(../fonts/BrotherTattoo_Demo.ttf);
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Black';
  src: url(../fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto Medium';
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'TT Norms Pro Black Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Black\ Italic.otf');
}

@font-face {
  font-family: 'TT Norms Pro Black';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Black.otf');
}

@font-face {
  font-family: 'TT Norms Pro Bold Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Bold\ Italic.otf');
}

@font-face {
  font-family: 'TT Norms Pro Bold';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Bold.otf');
}

@font-face {
  font-family: 'TT Norms Pro ExtraBlack Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ ExtraBlack\ Italic.otf');
}

@font-face {
  font-family: 'TT Norms Pro ExtraBlack';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ ExtraBlack.otf');
}

@font-face {
  font-family: 'TT Norms Pro ExtraBold Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ ExtraBold\ Italic.otf');
}

@font-face {
  font-family: 'TT Norms Pro ExtraBold';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ ExtraBold.otf');
}

@font-face {
  font-family: 'TT Norms Pro ExtraLight Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ ExtraLight\ Italic.otf');
}

@font-face {
  font-family: 'TT Norms Pro ExtraLight';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ ExtraLight.otf');
}

@font-face {
  font-family: 'TT Norms Pro Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Light.otf');
}

@font-face {
  font-family: 'TT Norms Pro Light Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Light\ Italic.otf');
}

@font-face {
  font-family: 'TT Norms Pro Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Italic.otf');
}

@font-face {
  font-family: 'TT Norms Pro Medium Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Medium\ Italic.otf');
}

@font-face {
  font-family: 'TT Norms Pro Medium';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Medium.otf');
}

@font-face {
  font-family: 'TT Norms Pro Regular';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Regular.otf');
}

@font-face {
  font-family: 'TT Norms Pro Thin';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Thin.otf');
}

@font-face {
  font-family: 'TT Norms Pro Thin Italic';
  src: url('../fonts/TT\ Norms\ Pro/TT\ Norms\ Pro\ Thin\ Italic.otf');
}